include README.md
include pyproject.toml
include CMakeLists.txt
recursive-include src CMakeLists.txt *.cc *hpp

include thirdparty/CMakeLists.txt
recursive-include thirdparty LICEN[CS]E*

graft thirdparty/json/single_include
include thirdparty/json/CMakeLists.txt
graft thirdparty/json/cmake
